body {
    overflow: hidden;
    background: #000;
    font-family: "Lato" , sans-serif;
}

.starwars {
    margin: auto;
    width: 60%;
    height: 800px;
    position: relative;

    perspective: 400px;

    align-items: center;
    color: #f1ad1d;

    font-size: 400%;
    font-weight: 700;
}


.slide-up {
    position: relative;
    transform-origin: 50% 100%;
    animation: slideUp 90s linear;
}   

.title {
    margin-bottom: 40px;
    text-align: center;
}

.article {
    margin-bottom: 40px;
}

@keyframes slideUp {
    0% {
        top: 2000px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -10000px;
        transform: rotateX(25deg) translateZ(-1500px);
    }
}

