<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <!-- <p v-if="show">You can see me</p>
        <template v-if="show">
            <p class="">dead inside</p>
            <p class="">live inside</p>
        </template>
        <p v-else>Do you see me now?</p>
        <button @click="show=!show">Show/Hide</button> -->
        <ul>
            <li v-for="(car, i) in cars" :key="car">{{ car }} (${{ i * i * 16896 }})</li>
        </ul>
        <hr>
        <ul>
            <li v-for="idea in prettyWords">
                <div v-for="(value) in idea">
                    {{ value }}
                </div>
            </li>
        </ul>
        <hr>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                // show: true
                cars: ['volkswagen passat', 'lexus ls350', 'range rover sport'],
                prettyWords: [
                    { sweettiest: 'Airplane', country: 'Ukraine' },
                    { sweettiest: 'Mercedes', country: 'Malorca' },
                    { sweettiest: 'Models', country: 'Paris' }]
            }
        })
    </script>
</body>

</html>