body {
    margin: 20px 20px;
    font-family: sans-serif;
}

.rambda {
    width: 1280px;
    padding: 60px 100px 30px;
    border: 1px solid black;
}

.text-logo {
    text-decoration: none;
    color: black;
    font-size: 60px;
    font-weight: 100;
}

.blue-text {
    color: aqua;
}

.block-nav {
    text-align: center;
}

.block-link {
    font-size: 19px;
    background-color: #35444f;
    margin: 48px 0px;
    padding: 20px;
}

.block-link a{
    padding: 20px 40px;
    text-decoration: none;
    color: white;
}


.block-menu {
    width: 344px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #495863; 
}

.block-menu li{
    list-style-type: none;
}

.block-menu a {
    padding: 28px 129px 28px 44px;
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    color: #495863;
}



.block-logo-photo {
    width: 885px;
    margin-left: 42px;
    border: 0.1px solid #495863;
    display: inline-block;
}


.logo {
    margin: 0 auto;
    padding: 74px;
    display: block;
}

.block-text {
    width: 815px;
}

.block-text p{
    text-align: 0;
}
