body {
    margin-top: 70px;
    background: #333;
    color: #fff;
}

.card-primary {
    background-color:#0275d8
}

.card-success {
    background-color: #5cb85c
}

.card-danger {
    background-color: #d9534f;
}